.container{
    margin: 0 auto;
    max-width: 1440px;
    max-height: 613px;
    
}

.hero {
    display: flex;
    align-items: center;
    
}

.shop-now-btn{
    background-color: rgb(170, 36, 36);
    border: none;
    width: 150px;
    height: 41px;
    color: whitesmoke;
}

.hero-btn{
    display: flex;
    max-width: 331px;
    gap: 40px;
   
}

.category-btn{
    width: 141px;
    height: 41px;
    border: none;
}

.hero-image {
    margin-top: 100px; /* Adjust the value as needed */
  }
  